@model IEnumerable<ToolMvc.Models.Place>

@{
    ViewData["Title"] = "Index";
}

<h2>Lista aktualnych budów</h2>

<p>
    <a asp-action="Create">Tworzenie nowego miejsca</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PlaceAdress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlaceDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PlaceAdress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlaceDescription)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
